body {
  font-family: 'Space Mono', monospace;
}

h1 {
  font-weight: 400;
  font-size: 100px;
  line-height: 1;
}

h2 {
  font-weight: 700;
  font-size: 50px;
}

p {
  font-size: 20px;
  font-weight: 400;
}

div {
  width: 65%;
  margin-left: 32px;
  margin-top: 150px;
}

span {
  text-shadow: 0 -12px 0 #2cfcfd, 0 -6px 0 blue, 0 6px 0 red, 0 12px 0 yellow;
}

@media only screen and (max-width: 1300px) {
  div {
    width: 75%;
  }
  h1 {
    font-size: 80px;
  }
}

@media only screen and (max-width: 900px) {
  div {
    width: 90%;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  span {
    text-shadow: 0 -4px 0 #2cfcfd, 0 -2px 0 blue, 0 2px 0 red, 0 4px 0 yellow;
  }
}

@media only screen and (max-width: 500px) {
  div {
    width: 100%;
    margin: 100px auto;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 15px;
  }
  span {
    text-shadow: 0 -4px 0 #2cfcfd, 0 -2px 0 blue, 0 2px 0 red, 0 4px 0 yellow;
  }
}
